.nav-brand {
  float: left;
  font-size: 1.75rem;
}

.nav-menu {
  float: right;
  display: flex;
  .nav-link {
    margin-left: 1rem;
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
  }
  .nav-link.active {
    color: #fff;
    border-bottom-color: #fff;
  }
}
